{% extends 'base.html' %}
{% block title %}{{ super() }} - {{ title }}{% endblock %}

			{% block content %}
			<p class="lead"><strong>Ademir Aparecido Constantino</strong></p>
			<p class="lead">State University of Maringá</p>
			<p class="lead">Department of Informatics</p>
			<br/><br/>

			<p class="lead"><strong>Diego de Souza Lima</strong></p>
			<p class="lead">State University of Maringá</p>
			<p class="lead">Department of Technology</p>
			<br/><br/>

			<p class="lead"><strong>Flavio Augusto Vicente Seixas</strong></p>
			<p class="lead">State University of Maringá</p>
			<p class="lead">Department of Technology</p>
			<br/><br/>

			<p class="lead"><strong>Luiz Joaquim Aderaldo Amichi</strong></p>
			<p class="lead">State University of Maringá</p>
			<p class="lead">Department of Informatics</p>
			<br/><br/>

			<p class="lead"><strong>Maria Aparecida Fernandez</strong></p>
			<p class="lead">State University of Maringá</p>
			<p class="lead">Department of Biotechnology, Genetics and Cell Biology</p>
			{% endblock %}